/* Basic global styling for text, layout, etc. */
body {
    font: 100%/1.5 system-ui, sans-serif;
    max-width: 80em;
    min-height: 100vh;
    margin: auto;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    gap: 1em;
}

header {
    display: flex;
    align-items: baseline;
    gap: 1em;
}

/* This pushes the slider/time to the right side. 
     (Optional; depends on how you want it laid out.) */
#time-filter {
    margin-left: auto;
    display: flex;
    align-items: baseline;
    gap: 0.4em;
}

#selected-time {
    display: inline-block;
}

#any-time {
    color: #777;
    display: none;
    /* hidden by default; we show it only if slider = -1 */
}